* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #2d2d2d;
  height: 100vh;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  margin: 0 auto;
  max-width: 1300px;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
}

.nav__links ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 30%;
}

.nav__links ul li {
  list-style: none;
  margin-left: 2rem;
  color: white;
  font-size: 1.2rem;
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
  margin: 0 auto;
  max-width: 1300px;
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  margin-right: 30px;
  max-width: 30rem;
}

.image img {
  max-width: 100%;
  object-fit: cover;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2rem 0;
  max-width: 50%;
}

.text h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.text h1 span {
  background-image: linear-gradient(to right, #85fded, #12c2e9);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.text h3 {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
}

.text ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 1rem 0;
}

.text ul li {
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  list-style: none;
  padding: 0.2rem 0;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#emoji {
  color: white;
  -webkit-text-fill-color: white;
  animation-name: wave;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  }
  80% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
